:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs) */
  --Very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main {
  min-height: 100vh;
  text-align: center;
  padding: 2.5rem 1.5rem;
}

.card {
  max-width: 320px;
  min-width: 320px;
  height: 27rem;
  color: var(--Transparent-white);
  padding: 2.5rem 3rem;
  text-align: left;
  margin: 0 auto;
}
.card:nth-child(1) {
  background-color: var(--Bright-orange);
  border-radius: 0.5rem 0.5rem 0 0;
}
.card:nth-child(1) .learn-more-btn {
  color: var(--Bright-orange);
}
.card:nth-child(2) {
  background-color: var(--Dark-cyan);
}
.card:nth-child(2) .learn-more-btn {
  color: var(--Dark-cyan);
}
.card:nth-child(3) {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 0 0.5rem 0.5rem;
}
.card:nth-child(3) .learn-more-btn {
  color: var(--Very-dark-cyan);
}
.card h1 {
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 2.5rem;
  color: var(--Very-light-gray);
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.learn-more-btn {
  background-color: var(--Very-light-gray);
  border: none;
  width: 10em;
  height: 3em;
  border-radius: 2rem;
  font-size: 15px;
  margin-top: 3rem;
  font-family: "Lexend Deca", sans-serif;
}
